% \section{Awards}
% \begin{itemize}
%    !for ;award in ;awards
%        \item ;award
%    !end for
% \end{itemize}

% \section {High School Activities}

% !for ;activity in ;highSchool
%    \title{\textbf{;activity.who}}
%    \location{;activity.when}
%    \begin{position}
%        !if ;activity.what
%            ;activity.what
%        !else
%            \vspace{-0.5cm}
%        !end if
%    \end{position}
% !end for